{{!-- footer partial --}}
<footer class="footsy">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="footerImg" src="images/footer-logo.jpg">
            </div>
            <div class="col-4">
                <h4 class="follow">Follow Me:</h4>
                <a href="https://github.com/BharathChandra27" target="_blank">
                    <img class="gitImg" src="images/github-logo.png">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img class="twitterImg" src="images/twitter-logo.png">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img class="instagramImg" src="images/instagram-logo.jpg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img class="facebookImg" src="images/facebook-logo.png">
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img class="linkedinImg" src="images/linkedin-logo.png">
                </a>
                <div class="row">
                    <img class="copyRights" src="./images/copyright-logo.jpg">
                    <h5 class="rights"> 2019 Bharath Inc. Powerd by Bharath Solutions. All Rights Reserved.</h5>
                </div>
            </div>
            <div class="col-4">
                <h3 class="address">Developer's Address:</h3>
                        <h4 class="addressDetails">Bharath Chandra.D</h4>
                        <h4 class="addressDetails">bharathchandra426@gmail.com</h4>
                        <h4 class="addressDetails">Ongole, India.</h4>
            </div>
        </div>
    </div>
</footer>