{{!-- navbar partial --}}
<nav>
    <ul class="navbar" id="onMenuClick">
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/register">Register</a></li>
        <li class="top-right"><a href="/login" onclick="logoutMethod()">Logout</a></li>
        <li class="top-right"><a href="/login">Login</a></li>
        <li class="navbarmenu"> <a href="javascript:void(0)" onclick="dropdownMenu()">&#9776;</a></li>
    </ul>
</nav>