{{!-- Logout page --}}
<section>
    <p>You are successfully Logged out. We recomend you to close the browser for Better experience.
        <a href="/login"> Click here </a> to go to LogIn page and thanks for logging In.</p>
</section>