 <!--  Section-1  -->
<div class="container">
    <div class="row">
        <div class="col-8">
            <section>
                <p> Hi there It's me again Bharath Chandra.D and I'm a Full Stack Developer. Here I'm going
                    to explain how I ended up being a Developer. I know it's Goofy 
                    and Wierd but any way I'm going to say about that, So you can skip this section if you want.</p>  
            </section>
            <section>
                <p> First of all I'm very much interested in Server side programming and web development. 
                    So decided to become one that's a start to my Developer journey. I started my career 
                    with JAVA programming language and learned some more advanced topics like JDBC and Servlets. 
                    After writing some small server side programs I put my interest in Front End Development and 
                    learned HTML5, CSS3, Bootstrap4 and JavaScript. After that I realized that Node.js and Express 
                    makes Back End Development very much easy to develop some reliable, fast and scalable 
                    websites so I leraned them. And I'm here now because of this.</p>
            </section>
            <section>
                <p> One last thing I want to say is never lose sight of your GOAL no matter how hard it is. 
                    Remember one thing " The Harder the battle the sweeter the Victory ". See I still remember 
                    the days where I'm learning and coding new things till 4 or 5am and I know that It's 
                    not easy but " It's your dream after all, it's ok to do things like that. "</p>
            </section>
        </div>
        <div class="col-4">
            <img src="/images/my-logo.jpg" class="myImg" alt="my-logo">
        </div>
    </div>
</div>
<hr>

<!--  Section Two  -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="leftside-col">
                <form>
                    <h1 class="large">Crazy Radness</h1>
                    <h1 class="large">Made for Developers</h1>
                    <input type="text" placeholder=" xyz@gamil.com "  name="userEmail"><br>
                    <textarea placeholder=" Your Comments Goes Here..." name="userFeedback" class="inputbox"></textarea>
                    <input type="button" class="btn-1" value="submit" onclick="submitMethod()">
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="rightside-col">
                <div class="videoContainer">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0Kv_k4ypj6o" frameborder=0 alt="Video"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
