<!--  Section-1  -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="large"> Welcome To My World</h1>
            <p class="lead">Total Radness since 1998.</p>
        </div>
    </div>
</div>

<!--  Section-2-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <section>
                <p> Hi there It's me again and I said this already but anyway I'm going to tell it right now also. 
                    As I said I'm ready to help you on learning or improving your skills regarding to Web Development. 
                    and by the time you are reading this I will learn more new stuff also. So if you are interested 
                    to learn new things with me, then I provided my Email down below you can mail me.
                    So that'a wrap and let's move on..</p>
                <p>EMAIL: bharathchandra426@gmail.com </p>
            </section>
            <form>
                <h2 class="register">Enter your Email here </h2>
                <input type="text" name="userEmail" placeholder="xyz@gmail.com">
                <input type="button" class="btn-1" value="Register" onclick="registrationMethod()">
            </form>
            <p class="quation"> " It does'nt matter what you have or how much you have, what really matters is 
                what you are doing with what you have. " Believe that...! </p>
            <p class="author"> -- Bharath Chandra.D</p>
        </div>
    </div>
</div>