{{!-- Page that visible after LogIn --}}
<h1>HI THERE!!!!!</h1><br>
<section>
    <h3>You are Successfully Logged In and an verification email is sent to your given email and refer 
        that email for further details.</h3>
    <h3>Thanks for Logging In and click below to LogOut!!!!</h3>
</section>
<button><a href="/logout">LOGOUT</a></button>